[credential]
	helper = osxkeychain
	
[include]
	# path = ~/.gitconfig.personal
[user]
	name = Kishan B
	email = kishancs46@gmail.com
[pull]
	rebase = true
[init]
	defaultBranch = main
[pager]
	log = false
